<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
        <script src="@Href("~/Scripts/jquery-1.6.2.min.js")" type="text/javascript"></script>
        <script src="@Href("~/Scripts/jquery-ui-1.8.15.custom.min.js")" type="text/javascript"></script>
        <link href="@Href("~/Styles/site.css")" type="text/css" rel="stylesheet" />
        <link href="@Href("~/Styles/jquery-ui-1.8.15.custom.css")" type="text/css" rel="stylesheet" />
        <script type="text/javascript">
            $(function(){
                $('#product').autocomplete({
                    source:'/GetProducts/', 
                    select: function(event, ui) { 
                        alert(ui.item.value); 
                        $('#result').val(ui.item.value);
                 
                    }
                });
            });
        </script>
        </head>
    <body>
        <form method="post">
            <label for="product">Enter product: </label>
            <input type="text" name="product" id="product" />
            <input type="text" id="result" />
        </form>
    </body>
</html>
